doctype html
html
    head
        title="Witaj użytkowniku!"

        //nie wiem dlaczego plik style.css nie działa w tym pliku
        style
            include ../assets/style.css 
    body
        
        .container.google
            h2 Witaj 
            h3 #{user.displayName}       
            p Zostałeś poprawnie zalogowany.
        include ./footer.pug